/*-------- 9. we work  style ---------*/
.we-work{
  position: relative;
  padding: 90px 0;
  background-color: #fafafa;
}
.work-box{
  h4{
    color: #b98128;
  }

  .btn-block{
    max-width: 250px;
  }
  p.opacity{
    opacity: .5;
  }
}